{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Daftar Akun</title>
      {% tailwind_css %}
      <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    </head>
    <body>
      <section class="bg-gray-50 dark:bg-gray-900">
        <div
          class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
          <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1
                class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Create an account
              </h1>
              {% if messages %}
                {% for m in messages %}
                  {% if m.tags == 'error' %}
                    <div role="alert" class="alert alert-error mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span>{{ m }}</span>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
              <form class="space-y-4 md:space-y-6" method="post">
                {% csrf_token %}
                <div>
                  <label
                    for="email"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Your email</label
                  >
                  {{ form.email }}
                </div>
                <div>
                  <label
                    for="username"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Your username</label
                  >
                  {{ form.username }}
                  
                </div>
                <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
                >
                <div class="relative">
                  {{ form.password1 }}
                  <button type="button" data-hs-toggle-password='{
                      "target": ["#hs-toggle-password", "#hs-toggle-confirm"]
                  }' class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
                    <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                      <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                      <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                      <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
                      <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                      <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
                    </svg>
                  </button>
                </div>
                <p class="validator-hint hidden">
                  Must be more than 8 characters, including
                  <br />At least one number <br />At least one lowercase
                  letter <br />At least one uppercase letter <br />At least one symbol 
                </p>
                <label
                    for="confirm-password"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Confirm password</label
                  >
                <div class="relative mb-1">
                  {{ form.password2 }}
                  <button type="button" data-hs-toggle-password='{
                      "target": ["#hs-toggle-password", "#hs-toggle-confirm"]
                    }' class="absolute inset-y-0 end-0 flex items-center z-20 px-3 cursor-pointer text-gray-400 rounded-e-md focus:outline-hidden focus:text-blue-600 dark:text-neutral-600 dark:focus:text-blue-500">
                    <svg class="shrink-0 size-3.5" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                      <path class="hs-password-active:hidden" d="M9.88 9.88a3 3 0 1 0 4.24 4.24"></path>
                      <path class="hs-password-active:hidden" d="M10.73 5.08A10.43 10.43 0 0 1 12 5c7 0 10 7 10 7a13.16 13.16 0 0 1-1.67 2.68"></path>
                      <path class="hs-password-active:hidden" d="M6.61 6.61A13.526 13.526 0 0 0 2 12s3 7 10 7a9.74 9.74 0 0 0 5.39-1.61"></path>
                      <line class="hs-password-active:hidden" x1="2" x2="22" y1="2" y2="22"></line>
                      <path class="hidden hs-password-active:block" d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                      <circle class="hidden hs-password-active:block" cx="12" cy="12" r="3"></circle>
                    </svg>
                  </button>
                </div>
                <div class="p-1 text-xs" id="password_match_message"></div>
                <ul
                  class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                  <li
                    class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      {{ form.is_adminProject }}
                      <label
                        for="vue-checkbox-list"
                        class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                        >Admin</label
                      >
                    </div>
                  </li>
                  <li
                    class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      {{ form.is_projectManager }}
                      <label
                        for="vue-checkbox-list"
                        class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                        >PM</label
                      >
                    </div>
                  </li>
                  <li
                    class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      {{ form.is_logistik }}
                      <label
                        for="react-checkbox-list"
                        class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                        >Logistik</label
                      >
                    </div>
                  </li>
                  <li
                    class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      {{ form.is_management }}
                      <label
                        for="angular-checkbox-list"
                        class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                        >Management</label
                      >
                    </div>
                  </li>
                  <li
                    class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                    <div class="flex items-center ps-3">
                      {{ form.is_client }}
                      <label
                        for="angular-checkbox-list"
                        class="w-full py-3 ms-2 text-xs font-medium text-gray-900 dark:text-gray-300"
                        >Client</label
                      >
                    </div>
                  </li>
                </ul>
                <button
                  type="submit"
                  class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                  Create an account
                </button>
                <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                  Already have an account?
                  <a
                    href="/"
                    class="font-medium text-blue-600 hover:underline dark:text-primary-500"
                    >Login here</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </section>
      <script src="{% static "js/preline.js" %}"></script>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          const passwordInput = document.getElementById('hs-toggle-password');
          const confirmPasswordInput = document.getElementById('hs-toggle-confirm');
          const messageElement = document.getElementById('password_match_message');

          function checkPasswordMatch() {
              if (passwordInput.value === confirmPasswordInput.value) {
                  messageElement.textContent = 'Passwords cocok!';
                  messageElement.style.color = 'green';
              } else {
                  messageElement.textContent = 'Passwords tidak cocok.';
                  messageElement.style.color = 'red';
              }
          }

          // Add event listeners to trigger the check
          passwordInput.addEventListener('keyup', checkPasswordMatch);
          confirmPasswordInput.addEventListener('keyup', checkPasswordMatch);
        });
      </script>
    </body>
  </html>
</html>
