{% extends "finance/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
        {% if messages %} {% for m in messages %} {% if m.tags == 'success' %}
        <div role="alert" class="alert alert-success">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ m }}</span>
        </div>
        {% endif %} {% if m.tags == 'error' %}
        <div role="alert" class="alert alert-error">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>{{ m }}</span>
        </div>
        {% endif %} {% endfor %} {% endif %}
        <fieldset class="fieldset mb-6">
            <form method="post">
                {% csrf_token %}
                <legend class="fieldset-legend">Projek</legend>
                <div class="advance-select relative mb-4">
                    <select class="hidden" id="pilih" name="pilih" data-select='{
                    "placeholder": "Nomor SPK",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "p-2 max-w-md advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
                    "hasSearch": true,
                    "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
                    "optionClasses": "advance-select-option selected:select-active",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
                    }' required>
                        <option disabled selected value=""></option>
                        {% for p in projek %}
                        <option value="{{ p.id }}" {% if p.id == old %} selected {% endif %}>{{ p.nomor_SPK }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button class="btn btn-success" type="submit" id="inputProjek" name="inputProjek">Submit</button>
            </form>
        </fieldset>
    </div>
    {% if pro %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-2">
        <div class="bg-base-100 rounded-lg p-4">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Input Breakdown 1</h2>
            <form class="flex flex-col" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="spk" id="spk" value="{{ pro }}" />
                <input type="file" class="file-input validator p-2 w-auto" name="lampiran-rab" id="lampiran-rab" required/>
                <p class="validator-hint hidden mb-4">Required</p>
                <button type="submit" name="inputAnggaran1" id="inputAnggaran1" class="join-item bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150">Input Data</button>
            </form>
        </div>
        <div class="bg-base-100 rounded-lg p-4">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Input Breakdown 2</h2>
            <form class="flex flex-col" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="spk" id="spk" value="{{ pro }}" />
                <div class="advance-select relative mb-4">
                    <select class="hidden" id="kelompok" name="kelompok" data-select='{
                    "placeholder": "Untuk Anggaran",
                    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                    "toggleClasses": "p-2 max-w-lg advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
                    "hasSearch": true,
                    "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
                    "optionClasses": "advance-select-option selected:select-active",
                    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
                    }'>
                        <option disabled selected value=""></option>
                        {% for a in anggaran %}
                        <option value="{{ a.id }}">{{ a.nama_jenis }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="file" class="file-input validator p-2 w-auto" name="lampiran-rab" id="lampiran-rab" required/>
                <p class="validator-hint hidden mb-4">Required</p>
                <button type="submit" name="inputAnggaran2" id="inputAnggaran2" class="join-item bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150">Input Data</button>
            </form>    
        </div>
    </div>
    {% endif %}

<script src="{% static "js/flyonui.js" %}"></script>

{% endblock %}