{% extends "finance/layout.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Client</legend>
            <select class="hidden" id="client" name="client" data-select='{
            "placeholder": "Nomor SPK",
            "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
            "toggleClasses": "p-2 max-w-xs advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
            "hasSearch": true,
            "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
            "optionClasses": "advance-select-option selected:select-active",
            "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
            }' required>
                <option disabled selected value="">Nomor SPK</option>
                    {% for c in client %}
                        <option value="{{ c.id }}" {% if c.id == old %} selected{% endif %}>{{ c.nomor_SPK }}</option>   
                    {% endfor %}             
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-success" type="submit">Submit</button>
    </fieldset>
    {% if anggaran %}
    <div class="overflow-x-auto rounded-box border border-gray-300 bg-base-100 mt-4">
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>Tanggal </th>
                <th>Task</th>
                <th>No SPK</th>
                <th>Deskripsi</th>
                <th>Budget</th>
                <th>Aktual</th>
                <th>Sisa Budget</th>
            </tr>
            </thead>
            <tbody>
                {% for a in anggaran %}
                    <tr class="{% if a.sisa_anggaran < 0 %}bg-red-600{% endif %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ a.jenis_anggaran }}</td>
                        <td>{{ a.client_id }}</td>
                        <td>{{ a.deskripsi }}</td>
                        <td>Rp. {{ a.total_anggaran }}</td>
                        <td>{{ data_expense.anggaran_id.total }}</td>
                        <td>Rp. {% if a.sisa_anggaran is not Null  %}{{ a.sisa_anggaran }}{% endif %} 
                            {% if a.sisa_anggaran is Null  %}{{ a.total_anggaran }}{% endif %}                            
                        </td>
                    </tr>   
                {% endfor %} 
            </tbody>
        </table>
    </div>
    {% endif %}

<script src="{% static "js/flyonui.js" %}"></script>
    
{% endblock %}