{% extends "finance/layout.html" %}
{% load static %}
{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Projek</legend>
            {% if messages %}
                {% for m in messages %}
                <div role="alert" class="alert alert-success max-w-sm my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ m }}</span>
                </div>
                {% endfor %}
            {% endif %}
            <select  class="select validator max-w-xs" id="pilihan" name="pilihan" required>
                <option disabled selected value="">Nomor SPK</option>
                {% for p in projek %}
                    <option value="{{ p.id }}">{{ p.nomor_SPK}}</option>
                {% endfor %}
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </fieldset>
    {% if invoice %}
    <div class="overflow-x-scroll">    
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th></th>
                <th>No. Invoice</th>
                <th>No. PO</th>
                <th>Client</th>
                <th>Jumlah Tagihan</th>
                <th>Tanggal Terbit</th>
                <th>Tanggal Jatuh Tempo</th>
                <th>Lampiran</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for i in invoice %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ i.nomor_invoice}}</td>
                    <td>{{ i.nomor_po}}</td>
                    <td>{{ i.client_id}}</td>
                    <td>{{ i.jumlah_tagihan}}</td>
                    <td>{{ i.tanggal_invoice}}</td>
                    <td>{{ i.tanggal_jatuh_tempo}}</td>
                    <td><a class="link link-info" href="{{ i.lampiran.url }}" target="_blank">{{ i.get_filename}}</a></td>
                    <td>
                    <fieldset class="fieldset">
                        <form method="post" action="{% url 'update-invoice' i.nomor_invoice %}">
                            {% csrf_token %}
                            <div  class="join min-w-2xs">
                                <div>
                                    <select class="select join-item" id="status" name="status" required>
                                        <option {% if i.status == 'belum_lunas' %} selected {% endif %} value="belum_lunas">Belum Lunas</option>
                                        <option {% if i.status == 'lunas' %} selected {% endif %} value="lunas">Lunas</option>
                                    </select>
                                </div>
                                <button class="btn btn-success join-item" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-iconid="edit" data-svgname="Edit">
                                        <path d="M11 4H4a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2v-7"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 013 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </fieldset>
                    </td>
                </tr>   
            {% endfor %}      
            </tbody>
        </table>
    </div>
    {% endif %}   
{% endblock %}