{% extends "finance/layout.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Client</legend>
            {% if messages %} {% for m in messages %} {% if m.tags == 'success' %}
            <div role="alert" class="alert alert-success">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ m }}</span>
            </div>
            {% endif %} {% if m.tags == 'error' %}
            <div role="alert" class="alert alert-error">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24">
                <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>{{ m }}</span>
            </div>
            {% endif %} {% endfor %} {% endif %}
            <select class="hidden" id="pilihan" name="pilihan" data-select='{
            "placeholder": "Nomor SPK",
            "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
            "toggleClasses": "p-2 max-w-xs advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
            "hasSearch": true,
            "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
            "optionClasses": "advance-select-option selected:select-active",
            "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
            }' required>
                <option disabled selected value="">Nomor SPK</option>
                    {% for c in client %}
                        <option value="{{ c.id }}" {% if c.id == old %} selected {% endif %}>{{ c.nomor_SPK }}</option>   
                    {% endfor %}             
            </select>
            <p class="validator-hint">Required</p>
            <button type="submit" class="btn btn-success" id="inputClient" name="inputClient">Submit</button>
        </form>
    </fieldset>
    {% if data_anggaran %}
    <div class="w-full max-w-md bg-white rounded-lg shadow-md p-6 my-4">
        {% if msg %}
           <div class="text-shadow-gray-950 text-2xl"> {{ msg }} </div>
        {% endif %}
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Expense</h2>
        <form class="flex flex-col" method="post">
            {% csrf_token %}
            <label for="jenis_anggaran">Jenis Anggaran</label>
            <select class="select validator p-2 mb-4 w-auto" required name="jenis_anggaran" id="jenis_anggaran">
                <option disabled selected value="">Pilih Anggaran</option>
                    {% for a in data_anggaran %}
                        <option value={{ a.jenis_anggaran.id }}>{{ a.jenis_anggaran }}</option>   
                    {% endfor %}             
            </select>
            <input type="date" class="input validator p-2 mb-4 w-auto" id="tanggal" name="tanggal" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="Tanggal">
            <input type="number" class="input validator p-2 mb-4 w-auto" id="total" name="total" placeholder="Total Expense">
            <input type="hidden" id="client_id" name="client_id" value="{{ data }}">
            <button type="submit" class="bg-gradient-to-r from-indigo-500 to-blue-500 text-white font-bold py-2 px-4 rounded-md mt-4 hover:bg-indigo-600 hover:to-blue-600 transition ease-in-out duration-150" id="updateAnggaran" name="updateAnggaran">Update</button>
        </form>
    </div>
    <div class="overflow-x-auto rounded-box border border-gray-300 shadow-md bg-base-100">
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>Tanggal </th>
                <th>Jenis Anggaran</th>
                <th>Projek</th>
                <th>Aktual</th>
                <th>Sisa Budget</th>
            </tr>
            </thead>
            <tbody>
                {% for e in data_expense %}
                    <tr class="{% if e.sisa_anggaran < 0 %}bg-red-600{% endif %}">
                        <td>{{ e.tanggal }}</td>
                        <td>{{ e.jenis_anggaran }}</td>
                        <td>{{ e.client_id }}</td>
                        <td>{{ e.total }}</td>
                        <td>Rp. {{e.sisa_budget}}                          
                        </td>
                    </tr>   
                {% endfor %} 
            </tbody>
        </table>
    </div>
    {% endif %}

<script src="{% static "js/flyonui.js" %}"></script>

{% endblock %}