{% extends "pm/layout.html" %}
{% load static %}
{% block content %}
<div class="breadcrumbs text-lg font-bold mt-2">
  <ul>
    <li>
      <a>
        <svg class="w-5 h-5 text-blue-700 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
          <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
          <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
      </svg>
        Dashboard
      </a>
    </li>
  </ul>
</div>

<div class="grid grid-cols-2 md:grid-cols-5 mb-4">
  <div class="cursor-pointer overflow-hidden relative transition-all duration-500 w-48 h-16 bg-neutral-100 rounded-lg shadow-xl flex flex-row items-center justify-evenly gap-2 p-2 before:absolute before:w-full hover:before:top-0 before:duration-500 before:-top-1 before:h-1 before:bg-purple-200">
    <div>
      <span class="font-bold text-left">Rata-rata Progress</span>
      <p class="line-clamp-3 self-end text-right">
        {{ rata }} %
      </p>
    </div>
  </div>
  <div class="cursor-pointer overflow-hidden relative transition-all duration-500 w-48 h-16 bg-neutral-100 rounded-lg shadow-xl flex flex-row items-center justify-evenly gap-2 p-2 before:absolute before:w-full hover:before:top-0 before:duration-500 before:-top-1 before:h-1 before:bg-purple-200">
    <div>
      <span class="font-bold text-left">Progress Selesai</span>
      <p class="line-clamp-3 self-end text-right">
        {{ total }} Pekerjaan
      </p>
    </div>
  </div>
  <button data-popover-target="popover-hover" data-popover-placement="bottom" data-popover-trigger="hover" type="button"> 
    <div class="cursor-pointer overflow-hidden relative transition-all duration-500 w-48 h-16 bg-neutral-100 rounded-lg shadow-xl flex flex-row items-center justify-evenly gap-2 p-2 before:absolute before:w-full hover:before:top-0 before:duration-500 before:-top-1 before:h-1 before:bg-purple-200">
      <div class="dropdown dropdown-hover">
        <span class="font-bold text-left">Man Power Hari Ini</span>
        <p class="line-clamp-3 self-end text-right">
          {{ total_mp }}
        </p>
      </div>
    </div>
  </button>
</div>
<div data-popover id="popover-hover" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <ul class="list bg-base-100 rounded-box shadow-md">
      <li class="list-row">
        <div>
          <div>HARIAN</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{daily.harian}}</div>
        </div>
      </li>
      <li class="list-row">
        <div>
          <div>ME</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{daily.me}}</div>
        </div>
      </li>
      <li class="list-row">
        <div>
          <div>SIPIL</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{daily.sipil}}</div>
        </div>
      </li>
      <li class="list-row">
        <div>
          <div>PLUMBING</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{daily.plumbing}}</div>
        </div>
      </li>
      <li class="list-row">
        <div>
          <div>GENTENG</div>
          <div class="text-xs uppercase font-semibold opacity-60">{{daily.genteng}}</div>
        </div>
      </li>
    </ul>

    <div data-popper-arrow></div>
</div>

<div class="chart">
  <fieldset class="fieldset mb-2">
    <form method="post">
        {% csrf_token %}
        <div class="join">
            <div>
                <select class="select join-item" id="client" name="client" required>
                    <option selected value="">Pilih Projek</option>
                    {% for p in projek %} 
                    <option value="{{ p.id }}"{% if pro == p.id %} selected {% endif %}>{{ p.nomor_SPK }}</option>
                    {% endfor %}                
                </select>
            </div>
            <button class="btn btn-success join-item" type="submit">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbElEQVR4nO3UsQ2AMAwF0YMRWI1JGAQxFyvRmIaCgiYxJNj6J7lJ9aQkBhUoe2niA2oTwAQgI2ACll6AEdivs60F4KkZOG6IgcaAEkQRwByzpgB4rqDrI8z9De1vi6g0AUwAsgDMOXEBii86AcUnw48cScs3AAAAAElFTkSuQmCC" alt="enter-2">
            </button>
        </div>
    </form>
  </fieldset>
  <div class="chart-overlay"></div>
  <div class="chart-inner">{{ diagram|safe }}</div>
</div>
{% endblock %}