{% extends "pm/layout.html" %}
{% load static %}

{% block content %}
<fieldset class="fieldset">
    <form method="post">
        {% csrf_token %}
        <legend class="fieldset-legend">Projek</legend>
        <select class="hidden" id="pilihan" name="pilihan" data-select='{
        "placeholder": "Nomor SPK",
        "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
        "toggleClasses": "p-2 max-w-xs advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
        "hasSearch": true,
        "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
        "optionClasses": "advance-select-option selected:select-active",
        "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
        }' required>
        <option disabled selected value="">Nomor SPK</option>
        {% if projek %} {% for p in projek %}
        <option value="{{ p.id }}" {% if p.id == old %} selected {% endif%}>{{ p.nomor_SPK }}</option>
        {% endfor %} {% endif %}
        </select>
        <p class="validator-hint">Required</p>
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</fieldset>
    
    {% if client_po %}
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>No. PO</th>
                <th>Vendor</th>
                <th>Deskripsi Barang</th>
                <th>Tipe</th>
                <th>Tanggal PO</th>
                <th>Total Tagihan</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for c in client_po %}
                <tr>
                    <td>{{ c.nomor_po }}</td>
                    <td>{{ c.vendor }}</td>
                    <td>{{ c.deskripsi_barang }}</td>
                    <td>{{ c.tipe }}</td>
                    <td>{{ c.tanggal_po }}</td>
                    <td>{{ c.total }}</td>
                    <td>{{ c.status }}</td>
                </tr>   
            {% endfor %}      
            </tbody>
        </table>
    </div>
    {% endif %}

<script src="{% static "js/flyonui.js" %}"></script>

{% endblock %}