{% extends "pm/layout.html" %}
{% load static %}

{% block content %}
    <fieldset class="fieldset">
        <form method="post">
            {% csrf_token %}
            <legend class="fieldset-legend">Projek</legend>
            {% if messages %}
                {% for m in messages %}
                <div role="alert" class="alert alert-success max-w-sm my-4">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <span>{{ m }}</span>
                </div>
                {% endfor %}
            {% endif %}
            <select class="select validator max-w-xs" required name="pilihan" id="pilihan">
                <option disabled selected value="">Pilih Projek</option>
                {% if projek %}
                    {% for p in projek %}
                        <option value={{ p.id }}>{{ p.client }}</option>   
                    {% endfor %}             
                {% endif %}
            </select>
            <p class="validator-hint">Required</p>
            <button class="btn btn-success" type="submit" id="inputClient" name="inputClient">Submit</button>
        </form>
    </fieldset>
    
    {% if client_po %}
        <table class="table table-sm mt-4">
            <thead>
            <tr>
                <th>No. PO</th>
                <th>Vendor</th>
                <th>Deskripsi Barang</th>
                <th>Tipe</th>
                <th>Tanggal PO</th>
                <th>Total Tagihan</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for c in client_po %}
                <tr>
                    <td>{{ c.nomor_po }}</td>
                    <td>{{ c.vendor }}</td>
                    <td>{{ c.deskripsi_barang }}</td>
                    <td>{{ c.tipe }}</td>
                    <td>{{ c.tanggal_po }}</td>
                    <td>{{ c.total }}</td>
                    <td>{{ c.status }}</td>
                </tr>   
            {% endfor %}      
            </tbody>
        </table>
    </div>
    {% endif %} 
{% endblock %}