{% extends "pm/layout.html" %} {% load static %} {% block content %}
<fieldset class="fieldset">
  <form method="post">
    {% csrf_token %}
    <legend class="fieldset-legend">Projek</legend>
    <select
      class="select validator max-w-xs"
      id="pilihan"
      name="pilihan"
      required>
      <option disabled selected value="">Nomor SPK</option>
      {% for p in projek %}
      <option value="{{ p.client }}">{{ p.nomor_SPK }}</option>
      {% endfor %}
    </select>
    <p class="validator-hint">Required</p>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</fieldset>
<br />
{% if client %}
<div class="w-full max-w-md bg-white rounded-lg shadow-md p-6">
  <form class="flex flex-col" method="post">
    {% for c in client %} {% csrf_token %}
    <input
      class="input validator p-2 mb-4 w-auto"
      value="{{ c.client }}"
      disabled />
    <input
      class="input validator p-2 mb-4 w-auto"
      value="{{ c.lokasi }}"
      disabled />
    <input
      class="input validator p-2 mb-4 w-auto"
      value="{{ c.jenis_projek }}"
      disabled />
    <input
      class="input validator p-2 mb-4 w-auto"
      value="{{ c.SPK }}"
      disabled />
    {% endfor %}
  </form>
</div>
{% endif %} {% endblock %}
