{% extends "admin/layout.html" %} {% load static %} {% block content %}
<fieldset class="fieldset">
  <form method="post">
    {% csrf_token %}
    <legend class="fieldset-legend">Projek</legend>
    <select class="hidden" id="pilih" name="pilih" data-select='{
    "placeholder": "Pilih Client",
    "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
    "toggleClasses": "p-2 max-w-xs advance-select-toggle select select-disabled:pointer-events-none select-disabled:opacity-40",
    "hasSearch": true,
    "dropdownClasses": "advance-select-menu max-w-xs max-h-52 pt-0 overflow-y-auto",
    "optionClasses": "advance-select-option selected:select-active",
    "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] shrink-0 size-4 text-primary hidden selected:block \"></span></div>"
    }' required>
      <option disabled selected value="">Pilih Projek</option>
      {% if projek %} {% for p in projek %}
      <option value="{{ p.id }}">{{ p.nomor_SPK }}</option>
      {% endfor %} {% endif %}
    </select>
    <p class="validator-hint">Required</p>
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</fieldset>

{% if invoice %}
<h2 class="text-md font-bold text-gray-800 mt-4">Data Invoice</h2>
<div class="overflow-x-scroll">    
    <table class="table table-sm mt-2">
        <thead>
        <tr>
            <th></th>
            <th>File</th>
            <th>Client</th>
            <th>Tanggal Terbit</th>
            <th>Tanggal Jatuh Tempo</th>
            <th>Lampiran</th>
        </tr>
        </thead>
        <tbody>
        {% for f in invoice %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ f.file }}</td>
                <td>{{ f.client }}</td>
                <td>{{ f.tanggal_terbit }}</td>
                <td>{{ f.tanggal_jatuh_tempo }}</td>
                <td><a class="link link-info" href="{{ f.file_url }}" target="_blank">{{ f.file_name }}</a></td>
            </tr>   
        {% endfor %}      
        </tbody>
    </table>
</div>
{% endif %}

{% if po %}
<h2 class="text-md font-bold text-gray-800 mt-4">Data PO</h2>
<div class="overflow-x-scroll">    
    <table class="table table-sm mt-4">
        <thead>
        <tr>
            <th></th>
            <th>File</th>
            <th>Client</th>
            <th>Vendor</th>
            <th>Tanggal</th>
            <th>Lampiran</th>
        </tr>
        </thead>
        <tbody>
        {% for f in po %}
            <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ f.file }}</td>
                <td>{{ f.client }}</td>
                <td>{{ f.vendor }}</td>
                <td>{{ f.tanggal}}</td>
                <td><a class="link link-info" href="{{ f.file_url }}" target="_blank">{{ f.file_name }}</a></td>
            </tr>   
        {% endfor %}      
        </tbody>
    </table>
</div>
{% endif %}

<script src="{% static "js/flyonui.js" %}"></script>

{% endblock %}
