{% extends "client/layout.html" %} {% load static %} 
{% block title %}{{user}} - Dashboard{% endblock %}
{% block content %}
<div class="breadcrumbs text-lg font-bold mt-2">
  <ul>
    <li>
      <a>
        <svg
          class="w-5 h-5 text-blue-700 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21">
          <path
            d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
          <path
            d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
        </svg>
        CCTV
      </a>
    </li>
  </ul>
</div>
<div class="relative w-full aspect-video rounded-xl bg-black">
  <img class="h-full w-full rounded-lg" src="{% url 'video-feed' %}">
  <div class="absolute top-4 right-4 bg-red-600 text-white text-xs font-semibold px-2 py-1 rounded-full z-10">
    LIVE
  </div>
</div>

{% endblock %}    